*{
    margin:0px;
    padding:0px;
}
body{
    background-color:darkgrey;
}
.contenedor{
    width: 90%;
    height: 932px;
    background-color:chocolate;
    margin:auto;
    text-align: center;
}
.contenedor_2{
    width: 90%;
    height: 425px;
    background-color:darkslateblue;
    margin:auto;
}
.contenedor_3{
    width: 90%;
    height: 491px;
    background-color:darkslateblue;
    margin:auto;
}
.contenedor_4{
    width: 90%;
    height: 657px;
    background-color:darkslateblue;
    margin:auto;
}

header{
    width:100%;
    height: 100px;
    background-color:crimson;
    margin:auto;
}
.cabecera{
    width:100%;
    height:250px;
    background-color:darkorange;
    margin:auto;
}
.cabecera_2{
    width:100%;
    height:350px;
    background-color:darkorange;
    margin:auto;
}
.cabecera_3{
    width:100%;
    height:50px;
    background-color:darkorange;
    margin:auto;
}
section{
    width: 60%;
    height: 325px;
    background-color:cyan;
    float:left;
}
.section_2{
    width: 99%;
    height: 90px;
    background-color:brown;
    float:left;
    color:white;
    margin:5px;
}
.section_3{
    width: 60%;
    height: 488px;
    background-color:cyan;
    float:left;
}
.section_4{
    width: 60%;
    height: 325px;
    background-color:cyan;
    float:left;
}
.section_5{
    width: 100%;
    height: 250px;
    background-color: #E91E63;
    margin-top: 238px;
   
}
.section_6{
    width: 100%;
    height: 334px;
    background-color:brown;
    margin:auto;
    margin-top:5px;
}
.section_7{
    width:60%;
    height: 650px;
    background-color:cadetblue;
    float:left;
}
.section_8{
    width: 97%;
    height: 130px;
    background-color:#E91E63;
    margin: 5px;
}
.section_9{
    width: 60%;
    height: 650px;
    background-color:#E91E63;
    float:left;
}
.article_1{
    width: 95%;
    height: 150px;
    background-color:coral;
    margin:5px;
    float:left;
    
}
.article_2{
    width: 47%;
    height: 150px;
    background-color:darkcyan;
    margin:5px;
    float:left;
}
.article_3{
    width: 47%;
    height: 150px;
    background-color:darkseagreen;
    margin:5px;
    float:left;
}
.article_4{
    width: 97%;
    height: 150px;
    background-color:red;
    margin-top:10px;
    margin-left:5px;
    color:white;
}
.article_5{
    width: 62%;
    height: 150px;
    background-color:yellowgreen;
    margin:5px;
    float:left;
}
.article_6{
    width: 30%;
    height: 150px;
    background-color:#FF7300;
    margin:5px;
    float:left;
}
.article_7{
    width: 32%;
    height:100px;
    background-color:#03A9F4;
    float:left;
    margin-top: 145px;
    margin-left: 9px;
}  

.article_8{
    width: 32%;
    height:100px;
    background-color:#03A9F4;
    float:left;
    margin: 4px;
}
.article_9{
    width: 94%;
    height:150px;
    background-color:#03A9F4;
    float:left;
    margin: 5px;
}

aside{
    width: 40%;
    height: 325px;
    background-color:forestgreen;
    float:left;
}
.aside_2{
    width: 40%;
    height: 425px;
    background-color:darkorange;
    float:left;
}
.menu_1{
    width: 97%;
    height:50px;
    background-color:crimson;
    margin-top:5px;
    margin-left:5px;
}
.menu_2{
    width: 97%;
    height: 50px;
    background-color:chartreuse;
    margin-left:5px;
}
.menu_3{
    width: 97%;
    height:50px;
    background-color:darkorange;
    margin-left:5px;
}
.menu_4{
    width: 97%;
    height:50px;
    background-color: #03A9F4;
    margin-left:5px;
}
.menu_5{
    width: 97%;
    height:50px;
    background-color: #FF7300;
    margin-left:5px;
}
.menu_6{
    width: 97%;
    height:50px;
    background-color: #607D8B;
    margin-left:5px;
}
footer{
    width:90%;
    height: 80px;
    background-color:blue;
    /* margin:auto; */
    color:white;
    margin:auto;
}
